.main-title {
    /* Style for "Почему нуж" */
 color: #393939;
 font-family: "Arial - Bold MT", sans-serif;
 font-size: 30px;
 font-weight: bold;
 line-height: 36px;
 text-align: center;
 margin-top: 63px;
 margin-bottom: 36px;
}
.main-title span {
  color: #fd58b2;
  text-align: center;
}
.item {
  text-align: center; 
}
.item img {

}
.item__descr {
 color: #333333;
 font-family: "Arial - Bold MT", sans-serif;
 font-size: 16px;
 font-weight: 700;
 margin-top: -20px;
}

