*{
  padding: 0;
  margin: 0;
}
.grid {
 display: grid;
 grid-template-areas: "top-1 top-1 top-2 top-2"
                      "middle-1 middle-2 middle-3 middle-4"
                      "bottom-1 bottom-1 bottom-2 bottom-3";
 grid-template-columns: 400px 400px 400px 400px;
 grid-template-rows: 500px 515px 515px;
}
.top-1 {
 grid-area: top-1;
 background-color: green;
}
.top-2 {
    grid-area: top-2;
    background-color: #f3f1ef;
    font-family: sans-serif;
    color: #666666;
    text-align: left;
    padding-left: 57px;
    padding-top: 130px;

    
   }
.p {
    width: 412px;
    height: 137px;
}
.middle-1 {
    grid-area: middle-1;
    background-color: grey;
}
.middle-2 {
    grid-area: middle-2;
    background-color: blue;
}
.middle-3 {
    grid-area: middle-3;
    background-color: yellow;
}
.middle-4 {
    grid-area: middle-4;
    background-color: violet;
}
.bottom-1 {
    grid-area: bottom-1;
    background-color: #3f729b;
    font-family: sans-serif;
    color: #f9f9f9;
    padding-top: 144px; 
    font-weight: 400;
    text-align: center;
    justify-content: left;

}
.bottom-1__h1 {
    text-transform: uppercase;
    font-weight: 700;
}
.bottom-1__button {
    width: 280px;
    height: 56px;
    border: 2px solid #ffffff;
    border-radius: 28px;
    background-color: #3f729b;
    font-weight: 700; 
    color: #f9f9f9;
    font-size: 18px;
}

.bottom-2 {
    grid-area: bottom-2;
    background-color: blue;
}
.bottom-3 {
    grid-area: bottom-3;
    background-color: #3f729b;
}

